.hx-form {
  color: rgba(255, 255, 255, 0.8);
}
.hx-form-inline {
  align-items: baseline;
}
.hx-form-item {
  padding-top: 12px;
  margin-bottom: 12px;
  position: relative;
  .ant-form-item-label {
    top: 0;
    left: 10px;
    position: absolute;
    pointer-events: none;
    z-index: 1;
  }

  .ant-form-item-label > label {
    color: #1890ff;
    height: auto;
  }

  .ant-input {
    color: rgba(255, 255, 255, 0.8);
    background: none;
  }

  /* css样式不优雅 */
  .ant-form-item-explain {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 32px;
    pointer-events: none;
    .ant-tooltip-open {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
